@import "settings";
@import "foundation";



/* Typography */

strong {
  font-weight: normal;
  color: #777;
}

p {
  font-family: 'pragmatica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 2em;
}

p.gray {
  color: $gray-dark;
}

a {
  color: $blue;
}

a:hover {
  color: $orange;
}

p.intro {
  font-family: 'pragmatica-web', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 2em;
}



h1 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 2rem;
  margin-top: .5rem;
  line-height: 1em;
  color: #222;
}

h2 {
  font-family: 'pragmatica-web', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 2em;
}

h3 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: .5rem;
  margin-top: .5rem;
  line-height: 1em;
  color: #222;
}


h4,
accordion dd>a.ng-binding {
  font-family: 'pragmatica-web', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $blue;
  padding-left: .5rem;
}

h4 {
  margin: .5rem 0;
}

h5 {
  font-family: 'pragmatica-web', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 1em 0;
}

/* Forms */

.button {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  background: $blue-dark;
  font-family: 'futura-pt', sans-serif;
  border-radius: $global-radius;
}

.button:hover {
  background: #283593;
}

input[type="text"] {
  border-radius: $global-radius;
}

.uppercase {
  text-transform: uppercase;
}

/* Accordion */

accordion{

  a.ng-binding {
    background: #f4f7fa;
    color: $blue;
    border-bottom: 2px solid #fff;

    &:hover {
      background: $blue-light;
      color: #222;
    }

    &:active {
      background: $blue-light;
      border-bottom: none;
    }
  }

  .content {
    a {
      background: none !important;
    }
  }
}


/* Layout */

.header {
  margin-bottom: 1em;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation-duration: 1s;
}

.home .header {
  height: 575px;
}

@media screen and (max-width: 1024px) {
  .header{
    background-image: url(../img/mapbg-1024.jpg);
  }
}

@media screen and (max-width: 1600px) {
  .header{
    background-image: url(../img/mapbg-1600.jpg)
  }
}

@media screen and (min-width: 1601px) {
  .header{
    background-image: url(../img/mapbg-2400.jpg)
  }
}

.header {
  padding-top: 1em;

  ul li {
    list-style: none;
    float: left;
    margin-left: 1em;

    a.button {
      background-color: $white;
      border: 1px solid $blue-dark;
      color: $blue-dark;
      border-right-color: $blue;
      border-bottom-color: $blue;

      &:hover {
        color: $blue;
        border-color: $blue;
        border-right-color: $blue-dark;
        border-bottom-color: $blue-dark;
      }

    }
  }

  .logo {
    max-width: 8em;
  }

}


// Home
.county-input {
  margin-top: 3em;
  margin-bottom: 2em;

  .search-submit {
    margin: 0 0 0 1em;
  }
}

.home .county-input {
  position: relative;
  margin-top: -350px;
  height: 350px;
}

.f-dropdown {
  li.active a{
    background-color: $gray-light;
  }
}


// County page
.county-table .row {
  padding: 1em 0;
  border-bottom: 1px solid #eee;
}

.county-table .row .columns {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
}

.button-back {
  margin-top: 1rem;
  margin-bottom: 0;
}


.sidebar {
  .blue-guide {
    padding: 20px;
    background-color: $blue-guide;
    border-radius: $global-radius;
  }
}








// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
