
<div class="row">


<h1>Glossary of Guide Terms</h1>

<div class="row">

  <div class="medium-7 county-table columns">
    
    <p>Recognizing that this guide uses health and criminal justice system terminology that could be confusing, the following definitions should provide clarity for criminal justice agencies, health care professionals and community organizations as they build connections between justice and health to better assist justice involved clients.</p>
  
    <accordion>
      <accordion-group heading="Behavioral Health Organization (BHO)" is-open="true">
        Colorado has five regions that are served by a Behavioral Health Organization (BHO). Each BHO connects Medicaid clients with medically necessary mental health and substance use disorder services in their catchment areas. <a href="https://www.colorado.gov/hcpf/behavioral-health-organizations" target="_blank">Learn more</a>.
      </accordion-group>
      <accordion-group heading="Jails">
        There are 56 county jails in Colorado. County jails are run by a county sheriff and are funded through local government. County jails are commonly used to hold a variety of justice involved individuals, including those who may be serving a sentence for a misdemeanor or are being held in custody pretrial. Some Colorado counties do not operate their own jail but contract with a nearby county jail. <a href="http://www.csoc.org/" target="_blank">Learn more</a>.
      </accordion-group>
    </accordion>

  </div>

  <div class="columns medium-4">
    <sidebar class="sidebar" />
  </div>

</div>
