<p><strong>Need additional information to assist your clients?</strong></p>
<a href="http://blueguide.cohealthinitiative.org" target="_blank"><img class="img/blueguide-big.png" alt="Blue Guide logo" /></a>
<h3><a href="http://blueguide.cohealthinitiative.org" target="_blank">The Blue Guide</a></h3>
<p>
The Blue Guide Colorado is an extensive resource that helps individuals, families ad community organizations locate health care providers and health care access assistance site in their area.
</p>