<p class="gray">Need additional information to assist your clients?</p>
<p><a href="http://blueguide.cohealthinitiative.org" target="_blank">
  <img src="img/blueguide-big.png" alt="Colorado Blue Guide" class="blue-guide" />
</a></p>
<h3><a href="http://blueguide.cohealthinitiative.org" target="_blank">The Blue Guide</a></h3>
<p>
The Blue Guide Colorado is an extensive resource that helps individuals, families ad community organizations locate health care providers and health care access assistance site in their area.
</p>